:root{
  margin: 0;
  font-family: cursive;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

#BandsName{
  list-style-type: square;
  list-style-position: inside;
  font-size: 20px;
  background: white;
  width: 500px;
  margin: auto;
  padding: 0;
  -webkit-box-shadow: 0 0 0 20px rgba(121, 1, 204, 0.73);
          box-shadow: 0 0 0 20px rgba(121, 1, 204, 0.73);
}

#BandsName li{
  border-bottom: 1px solid rgba(4, 165, 255, 0.63);
  padding: 20px;
}

#BandsName li:last-child{
  border-bottom: 0;
}
