/* resource::
https://www.w3schools.com/css/css3_box-sizing.asp
https://www.w3schools.com/cssref/sel_all.asp
https://stackoverflow.com/questions/32805670/what-does-before-and-after-do-in-css
https://stackoverflow.com/questions/3225891/what-does-the-greater-than-sign-css-selector-mean
*/

html{
    /* box-sizing: make box appear exactly as we want (padding,margin
    width dst, will be automatically calculated to exact value) */
    box-sizing: border-box;
    background: #ffc600;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 200;
}

body{
  margin: 0;

}
/* to make everything same for any browser: use ('*')
and it selector for all element */
/* *::before : apply this properties before content X then continue to content X properties*/
/* *::after : apply this properties after content X  */
*, *::before, *::after{
  box-sizing: inherit;
}

.panelContainer{
  min-height: 100vh;
  /* overflow: apabila konten melebihi box, apa yang dilakukan? */
  overflow: hidden;
  display: flex;
}

.panel{
  display: flex;
  flex: 1;
  background: purple;
  font-size: 20px;
  box-shadow: 15px 0 33px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  /* centering text vertical */
  justify-content: center;
  /* centering text horizontal */
  text-align: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  transition:
  font-size 1.0s cubic-bezier(0.1, 1.0, 1.0, 0.5),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  background 1.0s;
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* mean for selectpr ('>') in css: it only applies to child of selected  element */
/* this bottom means, apllies to all child element */
.panel > * {
  margin:0;
  width: 100%;
  transition:  transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* https://www.w3schools.com/cssref/sel_firstchild.asp */
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.active-on > *:first-child{
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.active-on  > *:last-child{
  transform: translateY(0);
}

.panel p{
  /* mengubah text jadi UPPERCASE */
  text-transform: uppercase;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

/* change properties of the 2nd element of child */
.panel p:nth-child(2){
  font-size: 4em;
}

.panel.active {
  flex: 5;
  font-size: 40px;
}
