:root{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: 10px;
  background: linear-gradient(114.93979578077085deg, rgba(243, 72, 104,1) 17.779282448406974%,rgba(242, 71, 104,1) 17.779282448406974%,rgba(158, 0, 236,1) 95.86127746157554%) fixed;
  background-size: cover;
}

*, *::before, *::after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
